<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User</h1>
<p th:text="${user.getId()}">id user</p>
<p th:text="${user.getAge()}">age user</p>
<p th:text="${user.getName()}">name user</p>
<p th:text="${user.getEmail()}">email user</p>

<a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete user">
</form>
</body>
</html>