<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User</h1>
<p th:text="${user.getUser_id()}">id user</p>
<p th:text="${user.getAge()}">age user</p>
<p th:text="${user.getUsername()}">name user</p>
<p th:text="${user.getEmail()}">email user</p>
<p th:text="${user.getRoles()}">role user</p>

<a th:href="@{/admin/{id}/edit(id=${user.getUser_id()})}">Edit</a>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getUser_id()})}">
    <input type="submit" value="Delete user">
</form>
<br/>
<br/>
<a th:href="@{/logout}">LOGOUT</a>
</body>
</html>